<!DOCTYPE html>
<html lang="en">
<head>
    <%-  include('../partials/head') -%>
</head>
<body class="container">

<header>
        <%-  include('../partials/header') -%>
</header>

<br>
<br>

<form>
    <h1>Create A New Club!</h1>
    <div class="form-group">
        <label for="exampleFormControlInput1">Group Name</label>
        <input class="form-control" id="groupName" placeholder="Group Name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Group Image</label>
        <input type="url" class="form-control" id="groupImage" pattern="https?://.+" placeholder="Insert Image URL">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Category</label>
        <select class="form-control" id="groupCategory">
        <option>Sports</option>
        <option>Recreation</option>
        <option>Art</option>
        <option>Food</option>
        <option>Education</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Group Description</label>
        <textarea class="form-control" id="groupDescription" rows="3" placeholder="Enter text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" onclick="submitGroup(event)">Submit</button>
</form>

<footer>
    <%-  include('../partials/footer') -%>
</footer>

</body>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="/js/axios.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/app.js"></script>

<script>
function submitGroup(event) {
    event.preventDefault();

    let name_input = document.getElementById('groupName').value;

    let image_input = document.getElementById('groupImage').value;

    let description_input = document.getElementById('groupDescription').value;

    let category_input = document.getElementById('groupCategory').value;

    let data = {
        name : name_input,
        description: description_input,
        logo_link : image_input,
        category: category_input
    };

    apiAddGroups(data);
}

</script>

</html>