
<!doctype html>
<html lang="en">
<head>
    <%-  include('../partials/head') -%>
</head>

<header>
    <%-  include('../partials/header') -%>
</header>

  <div class="logo">
			<img src="/logo.jpeg" alt="Club Social" width="150" height="150">
		</div>

  <div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Register</p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="registerFirstName" placeholder="Your First Name *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="registerEmail" placeholder="Your Email *" value=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="registerlastName" placeholder="Your Last Name *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="registerPassword" placeholder="Your Password *" value=""/>
                    </div>
                </div>
            </div>
            <button type="button" class="btnSubmit" onclick="submitRegister(event)">Submit</button>
        </div>
    </div>
</div>

<footer>
    <%-  include('../partials/footer') -%>
</footer>
  </body>
  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="/public/js/axios.js"></script>
  <script src="/public/js/jquery.js"></script>
  <script src="/public/js/app.js"></script>
  <script>
 
    function submitRegister(event) {
        event.preventDefault();

        let firstName_input = $('#registerFirstName').val();
        let lastName_input = $('#registerLastName').val();
        // let name_input = document.getElementById('inputName').val

        let email_input = $('#registerEmail').val();
        // let email_input = document.getElementById('inputEmail').val

        let password_input = $('#registerPassword').val();
         // let password_input = document.getElementById('inputPassword').val

        let data = {
          
          first_name : firstName_input,
          last_name : lastName_input,
          email : email_input,
          password: password_input
          
        };

        apiRegister(data);

    }
  
  </script>

</html>
